
.tableStyleMark0 {
  @include themify($themes) {
    font-family: themed('fontFamily');
    color: themed('textColor');
    background-color: themed('backgroundColor') !important;
  }
}

.tableStyleMark1 {
  @include themify($themes) {
    font-family: themed('fontFamily');
    color: themed('buttonTextColor');
    background-color: themed('buttonColor') !important;
  }
}
