@font-face {
  font-family: Accuratist;
  src: url(../assets/fonts/Accuratist.ttf);
  font-display: swap;
}

@font-face {
  font-family: Closeness;
  src: url(../assets/fonts/Closeness.ttf);
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 2vw;

  @include themify($themes) {
    font-family: themed('fontFamily');
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

a {
  color: #002635;
}

a:hover {
  color: #f58843;
}

h2,
h5 {
  @include themify($themes) {
    cursor: default;
    text-shadow: themed('textShadow');
    &:hover {
      color: themed('textHoverColor');
      background: themed('divShadowColor');
    }
  }
  @media only screen and (max-width: 780px) {
    font-size: 16px;
  }
}

div {
  @include themify($themes) {
    font-family: themed('fontFamily');
    color: themed('textColor');
    background-color: themed('backgroundColor');
    // -webkit-box-shadow: inset 0px 0px 1px 1px themed('divShadowColor');
    // -moz-box-shadow: inset 0px 0px 1px 1px themed('divShadowColor');
    // box-shadow: inset 0px 0px 1px 1px themed('divShadowColor');
  }

  cursor: default;
  width: inherit;

  @media only screen and (min-width: 780px) {
    font-size: 20px;
  }

}

span {
  @include themify($themes) {
    // font-size: themed('fontSize');
  }

  padding: 5px 5px 5px 5px;
}

button {
  @include themify($themes) {
    color: themed('buttonTextColor');
    background-color: themed('backgroundColor');
    border: themed('buttonBorder');
    border-radius: themed('buttonRadius');
  }
  cursor:pointer;
  font-family: Accuratist;
  padding: 2px 2px 2px 2px;
  margin: 2px 2px 2px 2px;

  @media only screen and (min-width: 780px) {
    font-size: 16px !important;
  }

  &:disabled {
    color: gray;
  }

  &:active {
    box-shadow: none;
    /**transform: translateY(-1px);
    transform: translateX(-1px);*/
  }

  &:hover {
    @include themify($themes) {
      color: themed('buttonTextHoverColor');
      border: themed('buttonBorderHover')
    }

    &:disabled {
      color: gray;
    }

  }
}

input {
  @include themify($themes) {
    font-family: themed('fontFamily');
    color: themed('textColor');
    background-color: themed('backgroundColor2');
    border: themed('inputBorder');
    font-size: themed('fontSize');
  }

  @media only screen and (min-width: 780px) {
    font-size: 18px !important;
  }

  @media only screen and (max-width: 420px) {
    font-size: 10px !important;
  }

  padding: 1px 1px 1px 1px;
  margin: 1px 1px 1px 1px;

  &:active {
    transform: translateX(-5px);
  }

  &:hover {
    @include themify($themes) {
      color: themed('buttonTextHoverColor');
      border: themed('buttonBorderHover')
    }
  }
}

p {
  margin: 0;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Scroll bars */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @include themify($themes) {
    box-shadow: themed('scrollBar');
  }

  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @include themify($themes) {
    background: themed('scrollbarThumb');
  }

  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @include themify($themes) {
    background: themed('scrollbarThumbHover');
  }
}

.myScroll {
  height: calc(94vh) !important;
  overflow: scroll;
  overflow-x: hidden;
}

.topHeader {
  height: 50px !important;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 99.9%;
  height: auto;

  &.column {
    flex-direction: column;
  }
}

.verCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

.horCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

.bg-transparent {
  background-color: transparent !important;
}

.fill {
  width: 100%;
  height: 100%;

  @include themify($themes) {
    font-family: themed('fontFamily');
  }
}

#leaderBoardResponse {
  width: 99.5% !important;
  padding: 15px;
  @media screen and (min-width: 1024px) {
    padding-left: 20vh;
    padding-right: 20vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.overflowAuto {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.fit {
  width: fit-content !important;
  height: fit-content !important;
}

.hey {
  height: 200px;
}

.h95 {
  height: 95vh;
}

.h90 {
  height: 90vh;
}

.h50 {
  height: 50vh;
}

.h5 {
  height: 3vh;
}

.w100px {
  width: 100px;
}

.w30 {
  width: 30vw;
  min-width: 200px;
  min-height: 35px;

  @media only screen and (max-width: 780px) {
    min-width: 130px;
  }
}

.cardBtn {
  width: 200px;
  left: 0;
  margin: 0;
  height: unset;

  @media only screen and (max-width: 780px) {
    width: 250px;
    height: auto;
  }

  button:hover {
    background-color: #f58843;
  }
}

.cardImg {}

.game-card {
  width: 200px;
  margin: 3px 3px 3px 3px;
  min-height: 135px;
  height: unset;

  @media only screen and (max-width: 780px) {
    width: 250px;
    height: 150px;
  }

  background: url(../assets/imgs/a.png);
}

.paddingtop20 {
  padding-top: 1vw;
}

.textColorWhite {
  color: white;
}

.textCenter {
  text-align: center;
}

.midWrapper {
  // width: 60vh;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.funnyBg1 {
  background: linear-gradient(90deg, #D80909 0%, #A1D024 10%, #00F90B 20%, #1AB5DC 30%, #401CCA 60%, #67145A 70%, #860d74 80%, #d6164f 90%, #d41010 100%);
}

.myPaddingList {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.myMarginList {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.blackText {
  color: black;
}

.avatarProfile {
  color: indigo;
  border: solid;
  border-color: linear-gradient(90deg, #D80909 0%, #A1D024 10%, #00F90B 20%, #1AB5DC 30%, #401CCA 60%, #67145A 70%, #860d74 80%, #d6164f 90%, #d41010 100%);
  width: 256px;
  height: 256px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.uploadAvatarInput {
  max-width: 50vw;
  font-size: 20px !important;
}

.heder {
  display: flex;
}

#gameplayDiv {
  margin: unset;
  // display: flex;
  flex-direction: column;
  height: 94vh;

  @media screen and (min-width: 1024px) {
    margin: 0px 4px 0px 4px;
  }
}

.gameplayObj {}

.gameLists {
  margin: 40px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.gameplay {
  width: 100%;
  height: 100%;
  flex-direction: row !important;

  @media screen and (min-width: 1024px) {
    width: 90vw;
    height: 100%;
  }
}

.makeBottomABS {
  position: absolute;
  bottom: 50px;
}

#apiResponse {
  margin: 10px 10px 10px 10px;
  padding: 15px 15px 15px 15px;
}

#activeGamesList {
  padding: 10px;
}

.AGL {
  display: grid;
  height: auto;
  padding: 5px;
}

#AGL-content {
  display: flex;
  padding: 2px;
  border: solid #d6164f 1px;
}

center-text-game-card{
  background-color: #002635;
}